SUPABASE_URL="https://tqlgvysyjvhnbgbiavmq.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRxbGd2eXN5anZobmJnYmlhdm1xIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU2NjUyMTgsImV4cCI6MjEwMTI0MTIxOH0.yeHBHFSAa3j-2Kz17NflVS9knU3CqBu1bw8nImh6eNQ"